@use "../base/colors" as *;

.navbar-icon {
  color: $color-primary;
  font-size: 1rem;
}

.support-icon {
  color: $background-light-secondary;
  font-size: 2rem;
}

.search-icon {
  color: $text-light-bold;
}

.notification-icon {
  font-size: 1.7rem;
}

.profile-arrow-icon {
  color: $text-light-subtle;
}
