@use "../base/colors" as *;

.navbar-icon {
  color: var(--color-primary);
  font-size: 1rem;
}

.support-icon {
  color: var(--color-primary-contrast);
  font-size: 2rem;
}

.search-icon {
  color: var(--text-bold);
}

.notification-icon {
  font-size: 1.7rem;
  color: var(--text-bold);
}

.profile-arrow-icon {
  color: var(--text-subtle);
}
