@use "../base/colors" as *;
@use "../base/typography" as *;

.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  align-items: flex-start;
  width: fit-content;
  background-color: $background-light-secondary;
}

.logo-wrapper {
  background-color: $color-primary;
  padding: 0.5rem 3rem;
}

.item {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  transition: background-color 200ms ease-in-out;
  align-items: center;
  position: relative;
  &:hover {
    background-color: darken($background-light-secondary, 3%);
  }
  &.active {
    background-color: darken($background-light-secondary, 5%);
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: $color-primary;
      left: 0;
    }
  }
}

.item-text {
  font-size: $font-size-400;
  color: $text-light-subtle;
}

.items-wrapper {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: $color-primary;
  width: 100%;
  align-items: center;
  transition: background-color 200ms ease-in-out;
  &:hover {
    background-color: darken($color-primary, 5%);
  }
}

.support-text {
  font-size: $font-size-400;
  color: $color-primary-contrast;
}
