@use "../base/colors" as *;
@use "../base/typography" as *;

.section-title-text {
  font-size: $font-size-400;
  color: $text-light-bold;
  font-weight: 600;
  position: relative;
  padding-left: 0.5rem;
  &::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: $color-primary;
    left: 0;
  }
}
