$color-primary: #1bbc9c;
$color-danger: #ff4d4f;
$color-unselected: #dfefec;
$color-primary-contrast: #ffffff;

$background-light-primary: #f5f5f5;
$background-light-secondary: #ffffff;
$text-light-bold: #666666;
$text-light-subtle: #8a8a8a;

$background-dark-primary: #222222;
$background-dark-secondary: #000000;
$text-dark-bold: #eceff4;
$text-dark-subtle: #d8dee9;
